@import '~@angular/material/theming';
@include mat-core();
$custome-theme-primary: mat-palette($mat-blue-grey, 100);
$custome-theme-accent: mat-palette($mat-blue-grey, 600);
$custome-theme-warn: mat-palette($mat-deep-orange);
$custome-theme: mat-light-theme($custome-theme-primary, $custome-theme-accent, $custome-theme-warn);
@include angular-material-theme($custome-theme);
