<div>

    <div *ngIf="isLoggedIn; else loggedOut">
    </div>




    <ng-template #loggedOut>
        <div  class="bodytag">.</div>

        <mat-card class="matcard">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="row col-sm-6" style="max-width:350px;">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" type="text" class="form-control" name="username"
                                    [(ngModel)]="form.username" #username="ngModel" required />
                                <div *ngIf="f.submitted && username.invalid">
                                    <div *ngIf="username.errors.required">Username is required</div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password" class="form-control"
                                    name="password" [(ngModel)]="form.password" #password="ngModel" required
                                    minlength="6" />
                                <div *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </mat-form-field>
                        </div>

                        <div >
                            <mat-card-actions style="padding-left:1em;">
                                <button mat-raised-button color="primary" class="btn btn-primary">Login</button>
                                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                                    Login failed: {{errorMessage}}
                                </div>
                            </mat-card-actions>


                            <div fxLayout="row" fxLayoutAlign="start center">
                                <!-- <mat-card-actions> -->
                                        <button  mat-raised-button color="primary" routerLink="/auth/signup" class="btn btn-success">Sign Up</button>
                                    <!-- </mat-card-actions> -->
                                    <span style="padding-left: 0.3em;padding-top: 0.7em;">New User?</span>
                                </div>


                        </div>
                </form>
                </div>
            </mat-card-content>

        </mat-card>


    </ng-template>


</div>