
mat-form-field{
  margin:auto;
  width: 250px;
}

button{
  padding: auto;
}

.bodytag
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../../../assets/images/backgroundimage4.jpg);
}

.matcard {
  padding: 16px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
