<app-navbar>
</app-navbar>


<mat-sidenav-container style="top:10vh;position: absolute;bottom:0vh;left: 0vh;right:0vh">
    <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()" (mouseleave)="decrease()" style="background-color:#ECEFF1">
        <mat-nav-list>

            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="/admin" routerLinkActive="active">
                <mat-icon mat-list-icon>home</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Home</h5>
                </div>
            </mat-list-item>

            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="orderdetail" routerLinkActive="active">
                <mat-icon mat-list-icon>details</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Orders</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="tripitinerary" routerLinkActive="is-active">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Trip Planner Setting</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="triptrack" routerLinkActive="active">
                <mat-icon mat-list-icon>gps_fixed</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Track Your Trips</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="vehicledetail" routerLinkActive="active">
                <mat-icon mat-list-icon>local_shipping</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Vehicle Details</h5>
                </div>
            </mat-list-item>

            <mat-list-item style="color: rgb(140, 140, 140);" routerLink="trackgoogle" routerLinkActive="active">
                <mat-icon mat-list-icon>near_me</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Track With Google</h5>
                </div>
            </mat-list-item>
            <!-- 
            <mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>person</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                    <h5 class="lead" style="font-size: 1em; font-weight: normal;">Logout</h5>
                </div>
            </mat-list-item> -->

        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>