mat-card {
    box-shadow: none !important;
}

.mat-typography {
    display: inline-flex;
    margin: 3vh 2% 0vh 2%;
    width: 94%;
    justify-content: space-between;
}

.mat-typography h1 {
    font-size: 2em;
}

.mat-title {
    margin: 16px 0 16px 0;
}

.summary-container {
    display: flex;
    justify-content: space-between;
}

.trip-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8vh 0 0 0;
}

.trips-container {
    margin-top: 10vh;
}

.title-part {
    color: gray;
}

.table-header {
    display: inline-flex;
}

.table-header .space-filler {
    display: inline-block;
    width: 24em;
}

@media screen and (max-width: 768px) and (min-width: 416px) {
    .summary-container {
        display: flex;
        flex-direction: column;
    }
    .table-header .space-filler {
        display: inline-block;
        width: 11em;
    }
    .mat-typography h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 415px) {
    .summary-container {
        display: flex;
        flex-direction: column;
    }
    .table-header .space-filler {
        display: inline-block;
        width: 7em;
    }
    .mat-typography h1 {
        font-size: 1rem;
    }
}