<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="mainBody">

    ​
    <section class="parallax-one" style="margin-top: -5rem;">
        <h2 id='flashex-title'>
            FLASHEX
        </h2>
        <h3 id='flashex-catchphrase'>Lightning Fast Delivery</h3>
        <button mat-raised-button color="primary" routerLink="/auth/login" style="justify-content: center; position: relative;
        left: 50%;
        transform: translateX(-50%); margin-top: 2em; width: 200px;">LOGIN</button> ​
    </section>
    <section class="block">
        <h3>Welcome to FlashEx</h3>
        <div id="aboutUs">
            <p>We provide last mile delivery solution to various companies. Our state of the art solutions like live tracking of delivery executives, optimization of delivery routes make sure of the most cost efficient last mile delivery. We are on a mission
                to put on smile on the face of customers as well as companies by making last mile delivery experience hustle free and pleasant for all.
            </p>
            <p>Our expertise is in B2B and B2C delivery. We have a clear understanding of the difficulties involved in last mile delivery. We ensure that last mile delivery requirements are met on time in a hustle free manner. Our aim is to build the operating
                system for e-commerce in India. We are capable of providing India’s largest e-commerce companies and leading enterprises for the most challanging problem i.e. last mile delivery. Our automatic order routing, order loading and live tracking
                system of delivery bring flexibility and efficiency to our customers’ supply chain and logistics operations. Our operations, infrastructure and technology enable our customers to transact with us and our partners at the lowest costs.
            </p>
        </div>
    </section>



    <hr> ​
    <section>
        <h3>Our Unique Selling Points</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">


            <figure>
                <img src="../../assets/images/liveTracking1.png" alt="Live Tracking" [ngStyle]="{width: '100%'}">
                <figcaption>Live Tracking</figcaption>​ ​
            </figure>


            <figure>
                <img src="../../assets/images/liveTracking1.png" alt="automatic order loading" [ngStyle]="{width: '100%'}">
                <figcaption>Automatic order loading</figcaption>​

            </figure>


        </div>
        ​
    </section>
    <footer class="footer">
        <div class="quicklinks" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
            <div class="links">
                <h4 style="margin-top: 0.3cm; color: rgb(49,49,49)">Quick Links</h4>
                <ul>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">About Us</a></li>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">Careers</a></li>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">Contributors</a></li>
                </ul>
            </div>

            <div class="links">
                <h4 style="margin-top: 0.3cm; color: rgb(49,49,49);">Contact Us</h4>
                <ul>
                    <li style="margin-top: 0.3cm;font-size: small;">Lorem Ipsum</li>
                    <li style="margin-top: 0.3cm;font-size: small;">32498XXXXX</li>
                    <li style="margin-top: 0.3cm;font-size: small;">contactus@flashex.com</li>
                </ul>
            </div>

            <div class="links">
                <h4 style="margin-top: 0.3cm; color: rgb(49,49,49);">Services</h4>
                <ul>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">Last mile Delivery</a></li>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">Same day delivery</a></li>
                    <li style="margin-top: 0.3cm;font-size: small;"><a style="text-decoration: none;" href="">Next day delivery</a></li>
                </ul>
            </div>


            <div class="links">
                <h4 style="margin-top: 0.3cm; color: rgb(49,49,49);">Partner with us</h4>
                <ul>
                    <li style="margin-top: 0.3cm;font-size: small;">Join as delivery executive</li>
                    <li style="margin-top: 0.3cm;font-size: small;">Join as warehouse manager</li>
                    <li style="margin-top: 0.3cm;font-size: small;">Contact Us</li>
                </ul>
            </div>
        </div>
        <hr>

        <div class="socialmediaicons">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-github"></i></a>
        </div>
        <hr>
        <div>
            <p class="copyright" style="text-align: center; padding: 0em 1em 1em;font-size: medium;">Copyright &copy; 2019 All Rights Reserved by
                <a href="https://flashex-dev.stackroute.io/in">FlashEx</a>.
            </p>
        </div>
    </footer>

</div>