a {
    color: #000000;
}

ul {
    list-style-type: none;
    padding-left: 0cm;
}

/* Typography */

#mainBody h2 {
    font-size: 90px;
    text-align: center;
    font-weight: 200;
}

#mainBody h3 {
    font-size: 28px;
    letter-spacing:3px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: normal;
    /* font-weight: bold; */
}

#mainBody p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
    padding: 0%;
}


/* Section - Block */

#mainBody .block {
    background: white;
    padding: 60px;
    width: 900px;
    margin: 0 auto;
    text-align: justify;
}


/* Parallax */

#mainBody .parallax-one {
    z-index: -5;
    overflow: hidden;
    width: 100%;
    background-image: url("../../assets/images/longexposurebackgroundimage.jpg");
    background-attachment: fixed;
    height: 100vh;
    margin-top: -5ch;
    justify-content: center;
    background-size: 60vh;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#flashex-title {
    margin-block-start: 24vh;
    margin-block-end: 0;
}

#flashex-catchphrase {
    margin-block-start: 5vh;
    margin-block-end: 0;
}

img {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

figcaption {
    width: max-content;
    font-size: large;
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-top: 1em;
}


/* Responsive */

@media screen and (max-width: 959px) and (min-width: 768px) {
    #mainBody .block {
        padding: 40px;
        width: 620px;
    }
}

@media screen and (max-width: 767px) and (min-width: 479px) {
    #mainBody .block {
        padding: 30px;
        width: 420px;
    }
    #mainBody h2 {
        font-size: 30px;
    }

    /* #mainBody .block {padding: 30px;} */
    #mainBody .parallax-one {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 479px) and (min-width: 100px) {
    #mainBody .block {
        padding: 30px 15px;
        width: 80%;
    }
    #mainBody h2 {
        font-size: 32px;
        /* font-weight: bold; */
    }
    #mainBody h3 {
        font-size: 18px;
    }

    #mainBody p{
        font-size: 15px;
    }
    .links {
        width: 50%;
    }
}

.footer {
    background-color: #cfd8dc;
    width: 100%;
}

.container {
    display: inline-block;
    padding: 0.25em 1em;
    color: white;
    justify-content: center;
}

.quicklinks {
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.socialmediaicons {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    font-size: 2.25rem;
    text-align: center;
}

.links {
    max-width: max-content;
    text-align: center;
}