<body style="background-color:#ECEFF1;height: 90%;">
    <mat-toolbar class="example-toolbar">
        <button style="margin: 0px;" mat-icon-button (click)="sidenav.toggle()"><mat-icon>double_arrow</mat-icon></button>
        <h1 style="margin-left: 8px;">Scheduled Trips</h1>
        <br>
        <p style="margin-left: auto;">Date: {{scheduledDate | date:'yyyy-MM-dd'}}</p>

    </mat-toolbar>

    <mat-sidenav-container class="example-container" style="background-color:#ECEFF1;">

        <mat-sidenav class="sidenavbar" #sidenav opened mode="side" style="background-color:#ECEFF1;">

            <div *ngFor="let id of dataSource, let i=index">
                <mat-expansion-panel style="background-color:#ECEFF1;">

                    <mat-expansion-panel-header style="background-color:#ECEFF1;">
                        <mat-panel-title>
                            <div style="width: 15px; height: 15px;left: 5px;margin-top: 1.5em;" [ngStyle]="{'background-color': colors[i]}"></div>
                            <button mat-raised-button color="primary" (click)="trips(i)">Trip {{id.tripItineraryId}}</button>

                            <br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- <button type="button" (click)="updateTripStart(id.tripItineraryId)">Start Trip</button> -->
                    <p>Planned Trip Start at : {{id.plannedStartTime}}</p>
                    <p>Actual Trip Started at : {{id.tripStart}}</p><br>



                    <table mat-table [dataSource]="id.packetLogs " style="background-color: lightgray;">

                        <ng-container matColumnDef="orderId">
                            <th mat-header-cell *matHeaderCellDef> Order Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.packetId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Order Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.packetStatus}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>





                    <!-- <p *ngFor="let order of id.packetLogs; let i = index"> Order - {{order.packetId}} <br>Delivery Address: {{order.deliveryAddress.addressLine1}}<br> Order Status: {{order.packetStatus}}
                        <button type="button" (click)="updatePacketLog(id.tripItineraryId, order.packetId)">Packet Status</button></p><br> -->




                    <p>Planned Trip End at : {{id.plannedEndTime}}</p>

                    <p> Actual Trip Ended at : {{id.tripEnd}}</p>

                    <!-- <button type="button" (click)="updateTripEnd(id.tripItineraryId)">End Trip</button> -->






                </mat-expansion-panel>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>

            <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="warehouse.latitude" [longitude]="warehouse.longitude" [iconUrl]="url"></agm-marker>
                <agm-direction *ngFor="let route of routes" [origin]="route.origin" [destination]="route.dest" [renderOptions]="renderOptions">
                </agm-direction>
                <div *ngFor="let id of dataSource, let j=index">

                    <agm-marker *ngFor="let marker of markers, let j =index" [latitude]="marker.deliveryLocation.lat" [longitude]="marker.deliveryLocation.lng" [label]="{
                    color: markerColor[j],
                    fontWeight: 'bold',
                    text: marker.orderId.toString()}">

                        <agm-info-window [disableAutoPan]="false" #infoWindow>
                            <div>
                                Order Id: {{marker.orderId}} <br> Delivery Address: {{marker.deliveryAddress}}
                            </div>
                        </agm-info-window>

                    </agm-marker>
                </div>
            </agm-map> -->

        </mat-sidenav-content>
    </mat-sidenav-container>
</body>