<body style="background-color:#ECEFF1;height: 90%;">
    <mat-toolbar class="example-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button style="margin: 0px;" mat-icon-button (click)="sidenav.toggle()">                       <mat-icon>double_arrow</mat-icon>
                </button> Scheduled Trips:
            <span style="padding-left:0.5em;font-size:0.85em;"> 
                    {{scheduledDate | date:'yyyy-MM-dd'}}
                </span>

        </div>
        <mat-radio-group style="margin-left:auto;font-weight: normal;" aria-label="Select an option" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-radio-button value="1" routerLink="/admin/triptrack"><span title="tomtom map platform" style="font-size:0.85em;padding-right:0.5em;height: 0.4em;width: 0.4em;">TomTom</span></mat-radio-button>
            <mat-radio-button value="2" routerLink="/admin/trackgoogle" [checked]="true"><span title="google map platform" style="font-size:0.85em;height: 0.4em;width: 0.4em;">Google</span>
            </mat-radio-button>
        </mat-radio-group>


    </mat-toolbar>

    <mat-sidenav-container class="example-container" style="background-color:#ECEFF1;">

        <mat-sidenav class="sidenavbar" #sidenav opened mode="side" style="background-color:#ECEFF1;">

            <div *ngFor="let id of dataSource, let i=index">
                <mat-expansion-panel style="background-color:#ECEFF1;">

                    <mat-expansion-panel-header style="background-color:#ECEFF1;">
                        <mat-panel-title>
                            <button mat-raised-button style="border-style: solid;border-width: 0 0 0 1.5em;" [ngStyle]="{'border-color': colors[i]}" (click)="trips(i)">Trip {{id.tripItineraryId}}</button>

                            <br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- <button type="button" (click)="updateTripStart(id.tripItineraryId)">Start Trip</button> -->
                    <p>Planned Trip Start at : {{id.plannedStartTime | date:'medium'}}</p>
                    <p>Actual Trip Started at : {{id.tripStart | date:'medium'}}</p><br>



                    <table mat-table [dataSource]="id.packetLogs " style="background-color: lightgray;">

                        <ng-container matColumnDef="orderId">
                            <th mat-header-cell *matHeaderCellDef> Order Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.packetId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Order Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.packetStatus}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>





                    <!-- <p *ngFor="let order of id.packetLogs; let i = index"> Order - {{order.packetId}} <br>Delivery Address: {{order.deliveryAddress.addressLine1}}<br> Order Status: {{order.packetStatus}}
                        <button type="button" (click)="updatePacketLog(id.tripItineraryId, order.packetId)">Packet Status</button></p><br> -->




                    <p>Planned Trip End at : {{id.plannedEndTime | date:'medium'}}</p>

                    <p> Actual Trip Ended at : {{id.tripEnd | date:'medium'}}</p>

                    <!-- <button type="button" (click)="updateTripEnd(id.tripItineraryId)">End Trip</button> -->






                </mat-expansion-panel>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>

            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="warehouse.latitude" [longitude]="warehouse.longitude" [iconUrl]="url"></agm-marker>
                <agm-direction *ngFor="let route of routes" [origin]="route.origin" [destination]="route.dest" [renderOptions]="renderOptions">
                </agm-direction>
                <div *ngFor="let id of dataSource, let j=index">

                    <agm-marker *ngFor="let marker of markers, let j =index" [latitude]="marker.deliveryAddress.latitude" [longitude]="marker.deliveryAddress.longitude" [label]="{
                    color: markerColor[j],
                    fontWeight: 'bold',
                    text: j+1}">

                        <agm-info-window [disableAutoPan]="false" #infoWindow>
                            <div>
                                Order Id: {{marker.packetId}} <br> Delivery Address: {{marker.deliveryAddress.addressLine1}}
                            </div>
                        </agm-info-window>

                    </agm-marker>
                </div>
            </agm-map>

        </mat-sidenav-content>
    </mat-sidenav-container>
</body>