img {
    width: 8.5rem;
    height: 3rem;
    display: block;
}

.logo-container {
    cursor: pointer;
}

mat-toolbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 10vh;
}

.responsive-dropdown {
    display: none;
}

@media screen and (max-width: 768px) {
    .responsive-dropdown {
        display: block;
    }
    .routes-container {
        display: none;
    }
}