img {
    width: 8.5rem;
    height: 3rem;
    display: block;
}

.logo-container {
    cursor: pointer;
}

mat-toolbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 10vh;
}

.responsive-dropdown {
    display: none;
}

@media screen and (max-width: 768px) {
    .responsive-dropdown {
        display: block;
    }
    .routes-container {
        display: none;
    }
}

.navbar
{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}