mat-form-field {
    margin: auto;
    width: 320px;
}

.bodytag
{
    z-index: -5;
    overflow: hidden;
    width: 100%;
    background-image: url("../../../../assets/images/longexposurebackgroundimage.jpg");
    background-attachment: fixed;
    height: 103.6vh;
    margin-top: -5ch;
    justify-content: center;
    background-size: 60vh;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -5rem;
}

.matcard {
    padding: 16px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.mat-card-header {
    width: inherit;
}

mat-hint {
    font-size: smaller;
}

.validation {
    margin-bottom: -1.5em;
    padding-top: 1.5em;
}