<body style="background-color:#ECEFF1;">
    <h1>Trips Details</h1>
    <p><button mat-raised-button color="primary" (click)="sidenav.toggle()">Toggle Trips Detail</button></p>

    <mat-sidenav-container class="example-container" style="background-color:#ECEFF1;">

        <mat-sidenav #sidenav opened mode="side" style="background-color:#ECEFF1;">

            <div *ngFor="let id of dataSource, let i=index">
                <mat-expansion-panel style="background-color:#ECEFF1;">

                    <mat-expansion-panel-header style="background-color:#ECEFF1;">
                        <mat-panel-title>
                            <button mat-raised-button [ngStyle]="{'background-color': colors[i]}" (click)="trip(id.tripItineraryId - 1)">Trip {{id.tripItineraryId}}</button>

                            <br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-expansion-panel>

                        <mat-expansion-panel-header style="background-color:#ECEFF1;">
                            <mat-panel-title>
                                Check Trip Status
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <mat-vertical-stepper>
                                <mat-step>
                                    Vehicle for this trip has left the warehouse
                                </mat-step>
                                <mat-step *ngFor="let order of id.orders; let i = index">
                                    <p>Order: {{id.orders[i].orderId}} has delivered at location {{id.orders[i].deliveryAddress}}</p>
                                </mat-step>

                            </mat-vertical-stepper>
                        </div>
                    </mat-expansion-panel>

                    <p *ngFor="let order of id.orders; let i = index"> Order - {{i+1}} Delivery Address: {{order.deliveryAddress}}</p>

                </mat-expansion-panel>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>

            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="warehouse.latitude" [longitude]="warehouse.longitude" [iconUrl]="url"></agm-marker>
                <agm-direction *ngFor="let route of routes" [origin]="route.origin" [destination]="route.dest" [renderOptions]="renderOptions">
                </agm-direction>
                <div *ngFor="let id of dataSource, let j=index">

                    <agm-marker *ngFor="let marker of markers, let j =index" [latitude]="marker.deliveryLocation.lat" [longitude]="marker.deliveryLocation.lng" [label]="{
                    color: markerColor[j],
                    fontWeight: 'bold',
                    text: marker.orderId.toString()}">

                        <agm-info-window [disableAutoPan]="false" #infoWindow>
                            <div>
                                Order Id: {{marker.orderId}} <br> Delivery Address: {{marker.deliveryAddress}}
                            </div>
                        </agm-info-window>

                    </agm-marker>
                </div>
            </agm-map>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
