<h1>Trips Details</h1>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div *ngFor="let id of dataSource">
            <button mat-raised-button color="primary" (click)="trip(id.tripItineraryId - 1)">Trip {{id.tripItineraryId}}</button><br>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <p><button mat-raised-button (click)="sidenav.toggle()">Show Trips</button></p>

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker *ngFor="let marker of markers" [latitude]="marker.deliveryLocation.lat" [longitude]="marker.deliveryLocation.lng" [label]="marker.orderId.toString()">
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                    <div>
                        Order Id: {{marker.orderId}} <br> Delivery Address: {{marker.deliveryAddress}}
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-sidenav-content>
</mat-sidenav-container>