<mat-toolbar color="primary">
    <img src="../assets/images/logo.png">
    <div class='routes-container'>
      <button mat-icon-button><mat-icon color='accent'>home</mat-icon></button>
      <button mat-icon-button><mat-icon color='accent'>person</mat-icon></button>
      <button mat-icon-button><mat-icon color='accent'>local_shipping</mat-icon></button>
      <button mat-icon-button><mat-icon color='accent'>my_location</mat-icon></button>

    </div>
</mat-toolbar>
<router-outlet></router-outlet>
