<mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Trip Details</h1>
    <button style="margin-left: auto;" mat-icon-button matTooltip="Logout" (click)="logout()"><mat-icon style="font-size: 25px;">person</mat-icon></button>
</mat-toolbar>
<mat-tab-group dynamicHeight>

    <mat-tab label="Today">
        <div class="example-small-box mat-elevation-z4">
            <mat-sidenav-container class="example-sidenav-container">
                <mat-sidenav opened="false" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                    <mat-nav-list class="sidenav">
                        <a mat-list-item (click)="trips(i)" *ngFor="let nav of dataSource, let i = index"> {{nav.tripItineraryId}}</a>
                    </mat-nav-list>
                </mat-sidenav>

                <mat-sidenav-content>
                    <mat-tab-group>
                        <mat-tab label="Trip Summary">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div>
                                    <mat-list *ngIf='tripDetails!=null'>
                                        <!-- <mat-list-item><span>Trip Code :</span>FLEET1{{tripDetails.tripItineraryId}}</mat-list-item>
                                        <mat-divider></mat-divider> -->
                                        <mat-divider></mat-divider>
                                        <mat-list-item><span>Trip Start Time :</span> {{tripDetails.plannedStartTime}}
                                            <p> <button style="margin: 1em;" mat-raised-button (click)="updateTripStart(tripDetails.tripItineraryId)" color="primary">Start Trip</button></p>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item><span>Start Location :</span> {{tripDetails.originAddress}}
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item><span>Order Type :</span> Perishable</mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item><span>Trip End Time :</span> {{tripDetails.plannedEndTime}}
                                            <p><button style="margin: 1em;" mat-raised-button (click)="updateTripEnd(tripDetails.tripItineraryId)" color="primary">End Trip</button></p>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item><span> Actual Trip Start Time :
                                                 {{tripDetails.tripStart}}</span> </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <!-- <mat-list-item><span>Delivery Status :</span>
                                                <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
                                            </mat-list-item>
                                            <mat-divider></mat-divider> -->
                                        <mat-list-item><span>Actual Trip End Time :
                                                 {{tripDetails.tripEnd}}</span> </mat-list-item>
                                    </mat-list>
                                </div>
                                <div id="map"></div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Order Details">
                            <mat-accordion class="example-headers-align" *ngFor="let order of listofOrders; let i = index">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <p>{{listofOrders[i].packetId}}</p>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <p>
                                                <mat-icon style="font-size: 15px;
                                                line-height: 2; width: 15px;"><i class="material-icons">phone</i></mat-icon>
                                                {{listofOrders[i].deliveryAddress.pincode}}</p>
                                            <p> Reciever's Name</p>


                                        </mat-panel-description>

                                    </mat-expansion-panel-header>
                                    <div>
                                        <span style="width: 50%; padding-left: 0ex;">
                                                <p>{{listofOrders[i].originAddress}}
                                                </p>
                                                <p><button mat-raised-button  (click)= "updatePacketLog(tripDetails.tripItineraryId, listofOrders[i].packetId)" color="primary">Delivered : {{tripDetails.packetLogs.packetStatus}}</button>
                                                </p>
                                            </span>
                                        <table style="float: right; width: 50%; margin-top: -6em;">
                                            <tr>
                                                <td>Reached to Hub</td>
                                                <td>Out for delivery</td>
                                                <td>succesfully Delivered</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
                                                </td>

                                                <td>
                                                    <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
                                                </td>
                                                <td>
                                                    <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-tab>
                    </mat-tab-group>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </mat-tab>
    <mat-tab style="height: 60%;" label="Tomorrow">
        <div fxLayout="row" fxLayoutAlign="center center">
            <a>
                <img style="height: 70vh;width: auto; align-content: center;" src="../../../../assets/images/nodata.jpg" />
            </a>
        </div>
    </mat-tab>
</mat-tab-group>