<mat-tab-group dynamicHeight>
    <mat-tab label="Yesterday">
        <div class="example-small-box mat-elevation-z4">
            <mat-toolbar color="primary" class="example-toolbar">
                <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                <h1 class="example-app-name">Trip Details</h1>
            </mat-toolbar>
            <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                    <mat-nav-list class="sidenav">
                        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
                    </mat-nav-list>
                </mat-sidenav>

                <mat-sidenav-content>
                    <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
                    <div>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Reciever: Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Order ID: </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Address: Koramangala
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>View on Maps</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Reciever: Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Order ID: </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Address: Koramangala
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>View on Maps</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Reciever: Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Order ID: </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Address: Koramangala
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>View on Maps</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Reciever: Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Order ID: </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Address: Koramangala
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>View on Maps</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </mat-tab>
    <mat-tab label="Today">
        <div class="example-large-box mat-elevation-z4">
            trips for Today
        </div>
    </mat-tab>
    <mat-tab label="Tomorrow">
        <div class="example-large-box mat-elevation-z4">
            trips for Tomorrow
        </div>
    </mat-tab>
</mat-tab-group>