
<h2 mat-dialog-title>Updates of the Packet</h2>
<mat-dialog-content class="mat-typography">

  {{data}}
  sudanshu;adfkaklfkjal;{{data.statusList}}
    <div style="margin-top: 1vh">
        <mat-vertical-stepper>
          <mat-step>
            <!-- <div *ngFor="let status of statusList" -->
              {{data}}
          </mat-step>
          <!-- <div *ngFor="let statuslist of statusList">
            <mat-step label={{statuslist.statusValue}}> {{statuslist.timeStamp}}

            </mat-step> -->

          <!-- </div> -->
          </mat-vertical-stepper>
    </div>
<mat-dialog-actions align="end">

