
<div class="mat-elevation-z8" style="margin-top:10vh">
  <mat-toolbar>Order Details</mat-toolbar>
  <!-- <mat-form-field style="width: 50%; font:bolder; padding-top: 2em; padding-left: 2em; margin-top: 10vh">
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search"
      >
  </mat-form-field> -->

<div  fxLayout="row" fxLayoutAlign="space-between center" >
    <mat-form-field style="width: 50%;padding-left: 1em">
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search" style="color: black"
        >
    </mat-form-field>
  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons>
  </mat-paginator>
</div>

<table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="receivedDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1em"> Received Date </th>
    <td mat-cell *matCellDef="let element"> {{element.receivedDate}} </td>
  </ng-container>

  <ng-container matColumnDef="packetType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1em"> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.packetType}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1em"> Priority </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="funColor(element.priority)" class="priorityClass"> {{element.priority}} </td>
  </ng-container>

  <ng-container matColumnDef="currentStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1em"> Status </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="statusColor(element.currentStatus)" class="priorityClass"> {{element.currentStatus}} </td>
    </ng-container>

  <!-- <ng-container matColumnDef="packetDescription" style="white-space:nowrap;width: 10px; overflow:hidden; text-overflow: ellipsis; ">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1em"> Description </th>
    <td mat-cell *matCellDef="let element" style="overflow:hidden; text-overflow: ellipsis; width: 150px"> {{element.packetDescription}} </td>
  </ng-container> -->

  <div>
  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">


        <div class="example-element-description">
          PacketId: {{element.packetId}}<br>
          Customer: {{element.customer.firstName}} {{element.customer.middleName}} {{element.customer.lastName}} <br>
          Address Line: {{element.deliveryAddress.addressLine1}}<br>
          City: {{element.deliveryAddress.city}}<br>
          State: {{element.deliveryAddress.state}}<br>
          Pincode: {{element.deliveryAddress.pincode}}
          <span class="example-element-description-attribution"></span>
        </div>

        <div class="example-element-diagram">
            <div class="example-element-name"> {{element.length}} X {{element.breadth}} X {{element.height}} </div>
            <div class="example-element-name"> {{element.weight}} kg(s)</div>
            <div class="example-element-weight">Description: {{element.packetDescription}} </div>

          </div>
          <div style="margin-top: 1vh">
              <!-- <div *ngFor="let statuslist of element.status">
                  {{statuslist.statusValue}}
              </div> -->
              <mat-horizontal-stepper>
                <div *ngFor="let statuslists of element.statusList">
                  {{statuslists.statusValue}}
                  <mat-step label={{statuslists.statusValue}}> {{statuslists.timeStamp}}
                      <span matTooltip="Fill out your name"></span>
                  </mat-step>

                </div>
                </mat-horizontal-stepper>
          </div>



      </div>

    </td>

  </ng-container>


</div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>

</div>
