<h3>Various trip algorithms suggestions</h3>
<table dir="ltr" style="width: 848px; margin-left: auto; margin-right: auto;" border="1" cellspacing="0" cellpadding="0"><colgroup><col width="161" /><col width="191" /><col width="128" /><col width="157" /><col width="157" /></colgroup>
  <tbody>
    <tr style="height: 12px;">
      <td style="width: 10px; height: 12px;">&nbsp;</td>
      <td style="width: 338px; height: 12px; text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Suitable for&quot;}"><strong>Suitable for</strong></td>
      <td style="width: 273px; height: 12px; text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Map providers&quot;}"><strong>Map providers</strong></td>
      <td style="width: 237px; height: 12px; text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cost&quot;}"><strong>Cost</strong></td>
      <td style="width: 215px; height: 12px; text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Optimization&quot;}"><strong>Optimization</strong></td>
    </tr>
    <tr style="height: 100px;">
      <td style="width: 10px; text-align: center; height: 100px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Displacement matrix&quot;}">Displacement matrix</td>
      <td style="width: 338px; height: 100px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Point to point\nNo route optimization\nAerial, No obstruction\nLoad optimization\nOptimize sequence of visits\nTime window supported\nVehicle capacity considered\n&quot;}">
        <ul>
          <li>Point to point</li>
          <li>No route optimization</li>
          <li>Aerial, No obstruction</li>
          <li>Load optimization</li>
          <li>Optimize sequence of visits</li>
          <li>Time window supported</li>
          <li>Vehicle capacity considered</li>
        </ul>
      </td>
      <td style="width: 273px; height: 100px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1. Tom-tom supported\n-No live status\n-Limited concurency&quot;}">1. Tom-tom supported<br />
        <ul>
          <li>No live status</li>
          <li>Limited concurency</li>
        </ul>
      </td>
      <td style="width: 237px; height: 100px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Free&quot;}">
        <ul>
          <li>Free</li>
        </ul>
      </td>
      <td style="width: 215px; height: 100px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Low&quot;}">
        <ul>
          <li>Low</li>
        </ul>
      </td>
    </tr>
    <tr style="height: 118px;">
      <td style="width: 10px; text-align: center; height: 118px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Distance matrix&quot;}">Distance matrix</td>
      <td style="width: 338px; height: 118px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cities with traffic\nRoute optimization\nBy road and By aerial route\nLoad optimization\nOptimise for sequence of visits\nTime window support\nVehicle capacity considered\nVehicle mode considered&quot;}">
        <ul>
          <li>Cities with traffic</li>
          <li>Route optimization</li>
          <li>By road and By aerial route</li>
          <li>Load optimization</li>
          <li>Optimise for sequence of visits</li>
          <li>Time window support</li>
          <li>Vehicle capacity considered</li>
          <li>Vehicle mode considered</li>
        </ul>
      </td>
      <td style="width: 273px; height: 118px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1. Google\n- Better routes\n- Traffic consideration\n\n2. M.S. Bing\n- Moderate route suggestions\n- Traffic consideration&quot;}">1. Google<br />
        <ul>
          <li>Best routes optimization</li>
          <li>Traffic consideration</li>
        </ul>
        2. M.S. Bing<br />
        <ul>
          <li>Good routes optimization</li>
          <li>Traffic consideration</li>
        </ul>
      </td>
      <td style="width: 237px; height: 118px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Both Google and M.S. Bing require cost per certain requests&quot;}">
        <ul>
          <li>Both Google and M.S. Bing require cost per certain requests</li>
        </ul>
      </td>
      <td style="width: 215px; height: 118px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Google has the best optimization.\nM.S. Bing provides better optimization.&quot;}">
        <div>
          <ul>
            <li>Google has the best optimization.<br />M.S. Bing provides better optimization.</li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>