.mat-typography {
    display: inline-flex;
    width: 94%;
    justify-content: space-between;
}

.example-ripple-container {
    cursor: pointer;
    margin-top: 25px;
    background-color: #fff;
    text-align: center;
    margin-left: 30px;
    /* width: 20%; */
    height: 40%;
    /* line-height: 300px; */
    /* user-select: none; */
    transition: all .7s ease-in-out;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent; */
}