<div class="trips-container" style="padding-top: 10vh;">
    <section class="mat-typography">
        <h1 style="font-size: 2em;">Manager Dashboard</h1>
    </section>
</div>
<div style="padding-left: 5vh;" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="6vh" fxLayoutGap.xs="10px" style="padding-top: 6vh;">


    <mat-card class="card" routerLink="orderdetail">
        <img mat-card-image src="../../../../assets/images/orders.png" alt="Order Details" style="padding-top: 1vh;">
        <mat-card-content>
            <h4 style="text-align: center;">Order Details</h4>
            <p>Look out for all the orders.</p>
        </mat-card-content>

    </mat-card>
    <mat-card class="card" routerLink="tripitinerary">
        <img mat-card-image src="../../../../assets/images/trips.png" alt="Trip Details" style="padding-top: 1vh;">
        <mat-card-content>
            <h4 style="text-align: center;">Trip Details</h4>
            <p>View all the assigned trips.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="card" routerLink="vehicledetail">

        <img mat-card-image src="../../../../assets/images/vehicle.jpg" alt="Vehicle Details" style="padding-top: 1vh;">
        <mat-card-content>
            <h4 style="text-align: center;">Vehicle Details</h4>

            <p>Find out the vehicle details.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="triptrack">

        <img mat-card-image src="../../../../assets/images/tracking.jpg" alt="Trips Tracking" style="padding-top: 1vh;">
        <mat-card-content>
            <h4 style="text-align: center;">Live Tracking</h4>

            <p>Checkout the live status of trips.</p>
        </mat-card-content>
    </mat-card>

</div>