.card {
    max-width: 250px;
    margin-left: 2em;
    margin-top: 17px
}

img {
    height: 30vh;
    margin-left: 0vh;
    width: 245px;
}

.mat-typography {
    display: inline-flex;
    margin: 2vh 3% 2vh 3%;
    width: 94%;
    justify-content: space-between;
}