<div id="mainBody">
    ​
    <section style="display: flex; justify-content: center;">
        <div class="parallax-one">
            <h2>FlashEx</h2>
            <h3>Lightning Fast Delivery</h3>
        </div>
    </section>
    ​
    <section>
        <h3>Welcome to FlashEx</h3>
        <div id="aboutUs" class="block">
            <p>We provide last mile delivery solution to various companies. Our state of the art solutions like live tracking of delivery executives, optimization of delivery routes make sure of the most cost efficient last mile delivery. We are on a mission
                to put on smile on the face of customers as well as companies by making last mile delivery experience hustle free and pleasant for all.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat nulla culpa, doloremque possimus dolorum, quasi iusto, quidem totam voluptate sit est. Unde quod vitae totam eveniet maxime odio quam! Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Provident iusto, nobis, labore voluptatibus nihil sit cupiditate dolor illum, ipsum aperiam natus? Veniam eius nobis vitae possimus, quae ipsa hic exercitationem?
            </p>
        </div>
    </section>
    ​
    <section>
        <div class="block">
            <h3>Our Unique Selling Points</h3>
            <p>
                <li>Live Tracking of Delivery</li>
                <li>Optimized route suggestion</li>
                <li>Automatic order routing and order loading</li>
            </p>
        </div>
        ​
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
            <img src="../../assets/images/landingpageimage2.jpg" alt="livetracking" [ngStyle]="{width: '30%'}" [ngStyle.xs]="{width: '90%'}"> ​ ​
            <img src="../../assets/images/landingpageimage1.jpg" alt="Optimized Route suggstions" [ngStyle]="{width: '30%'}" [ngStyle.xs]="{width: '90%'}"> ​
            <img src="../../assets/images/landingpageimage3.jpg" alt="Automatic order loading" [ngStyle]="{width: '30%'}" [ngStyle.xs]="{width: '90%'}"> ​
        </div>
        ​
    </section>
    ​ ​
    <section>
        <div class="block">
            <h3>Contact Us</h3>
            <p>
                ​
                <li>Contact person: Basaviraj </li>
                <li>Contact details: 234797238</li>
                <li>Email: DPR@boeing.com</li>
                ​
            </p>
        </div>
    </section>
    ​
</div>