<div id="mainBody">
    ​
    <section class="parallax-one">
        <h2 id='flashex-title'>
            FlashEx
        </h2>
        <h3 id='flashex-catchphrase'>Lightning Fast Delivery</h3>
    </section>
    ​
    <section class="block">
        <h3>Welcome to FlashEx</h3>
        <div id="aboutUs">
            <p>We provide last mile delivery solution to various companies. Our state of the art solutions like live tracking of delivery executives, optimization of delivery routes make sure of the most cost efficient last mile delivery. We are on a mission
                to put on smile on the face of customers as well as companies by making last mile delivery experience hustle free and pleasant for all.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat nulla culpa, doloremque possimus dolorum, quasi iusto, quidem totam voluptate sit est. Unde quod vitae totam eveniet maxime odio quam! Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Provident iusto, nobis, labore voluptatibus nihil sit cupiditate dolor illum, ipsum aperiam natus? Veniam eius nobis vitae possimus, quae ipsa hic exercitationem?
            </p>
        </div>
    </section>

    <!-- <hr> -->
    ​
    <section>
        <div class="block">
            <h3>Our Unique Selling Points</h3>
        </div>
        ​
        <div class="images" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <!-- <div class="images"> -->
            <figure>
                <img src="../../assets/images/LiveTracking1.png" alt="Live Tracking" [ngStyle]="{width: '100%'}"> ​ ​
                <caption>Live Tracking</caption>
            </figure>

            <!-- <div >
                <figure>
                    <img src="../../assets/images/DistanceAndTimeBasedRoutesSuggestions.png" alt="Optimized Route suggstions" [ngStyle]="{width: '100%'}" [ngStyle.xs]="{width: '90%'}"> ​
                    <caption>Optimized Route suggestion</caption>
                </figure>​
            </div> -->
            <figure>
                    <img src="../../assets/images/LiveTracking1.png" alt="Automatic order loading" [ngStyle]="{width: '100%'}"> ​
                    <caption>Automatic order loading</caption>
            </figure>

        </div>
        ​
    </section>

    <!-- <hr> -->
    ​ ​
    <section>
        <div class="block">
            <h3>Contact Us</h3>
            <p>
                ​
                <li>Contact person: Fakename </li>
                <li>Contact details: 234797238</li>
                <li>Email: abc@FlashEx.com</li> ​
            </p>
        </div>
    </section>
    ​
</div>
