<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="mainBody">

    ​
    <section class="parallax-one">
        <h2 id='flashex-title'>
            FlashEx
        </h2>
        <h3 id='flashex-catchphrase'>Lightning Fast Delivery</h3>
    </section>
    ​
    <section class="block">
        <h3>Welcome to FlashEx</h3>
        <div id="aboutUs">
            <p>We provide last mile delivery solution to various companies. Our state of the art solutions like live tracking of delivery executives, optimization of delivery routes make sure of the most cost efficient last mile delivery. We are on a mission to put on smile on the face of customers as well as companies by making last mile delivery experience hustle free and pleasant for all.
            </p>
            <p>Our expertise is in B2B and B2C delivery. We have a clear understanding of the difficulties involved in last mile delivery. We ensure that last mile delivery requirements are met on time in a hustle free manner. Our aim is to build the operating system for e-commerce in India. We are capable of providing India’s largest e-commerce companies and leading enterprises for the most challanging problem i.e. last mile delivery. Our automatic order routing, order loading and live tracking system of delivery bring flexibility and efficiency to our customers’ supply chain and logistics operations. Our operations, infrastructure and technology enable our customers to transact with us and our partners at the lowest costs.
            </p>
        </div>
    </section>

    <!-- <hr> -->
   ​
    <section>
        <div class="block">
            <h3>Our Unique Selling Points</h3>
        </div>
        ​
        <div class="images" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <!-- <div class="images"> -->
            <figure>
                <caption>Live Tracking</caption>
                <br>
                <img src="../../assets/images/LiveTracking1.png" alt="Live Tracking" [ngStyle]="{width: '100%'}"> ​ ​
            </figure>

            <figure>
                    <caption>Automatic order loading</caption>
                    <br>
                    <img src="../../assets/images/LiveTracking1.png" alt="Automatic order loading" [ngStyle]="{width: '100%'}"> ​

            </figure>

        </div>
        ​
    </section>

    <!-- <hr> -->





  <!-- Site footer -->
  <footer class="footer">
        <div>
            <div>
              <h3>Quick Links</h3>
              <ul>
                <li><a style="text-decoration: none;" href=""><p>About Us</p></a></li>
                <li><a style="text-decoration: none;" href=""><p>Contact Us</p></a></li>
                <li><a style="text-decoration: none;" href=""><p>Team</p></a></li>
              </ul>
            </div>

            <div class="socialmediaicons">
              <div class="container"><i class="fa fa-facebook"></i></div>
              <div class="container"><i class="fa fa-twitter"></i></div>
              <div class="container"><i class="fa fa-youtube"></i></div>
              <div class="container"><i class="fa fa-instagram"></i></div>
          </div>
        </div>
        <hr>
        <div>
            <p class="copyright" style="text-align: center; padding-bottom: 1em;">Copyright &copy; 2019 All Rights Reserved by
            <a href="https://flashex-dev.stackroute.io/in">FlashEx</a>.
            </p>
        </div>
  </footer>

</div>


