#map {
    height: 100%;
    width: 100%;
}

button {
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.example-container {
    height: 31em;
}


/* .example-events {
    width: 100%;
    overflow: auto;
    border: 1px solid #555;
} */

.sidenavbar {
    width: min-content;
}