<body style="background-color:#ECEFF1; margin-top: 10vh;height: 90%;">
    <mat-toolbar class="example-toolbar">
        <button style="margin: 0px;" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name" style="margin-left: 8px;">Trips Details</h1>

    </mat-toolbar>

    <mat-sidenav-container class="example-container" style="background-color:#ECEFF1;">

        <mat-sidenav class="sidenavbar" #sidenav opened mode="side" style="background-color:#ECEFF1;">

            <div *ngFor="let id of dataSource, let i=index">
                <mat-expansion-panel style="background-color:#ECEFF1;">

                    <mat-expansion-panel-header style="background-color:#ECEFF1;">
                        <mat-panel-title>
                            <button mat-raised-button [ngStyle]="{'background-color': colors[i]}">Trip {{id.tripItineraryId}}</button>

                            <br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p *ngFor="let order of id.packetLogs; let i = index"> Order - {{order.packetId}} <br>Delivery Address: {{order.deliveryAddress.addressLine1}}</p>

                </mat-expansion-panel>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div id="map"></div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>